@import "variables_colors";
@import "variables_typografi";
@import "../node_modules/bootstrap/scss/bootstrap";

[data-theme="dark"] {
	a {
		color: $neutral-2-2 !important;
		&:focus,
		&:hover,
		&:active,
		&:target {
			color: $neutral-3-2 !important;
		}
	}

	footer {
		background-color: $neutral-2-2 !important;
		color: $neutral-2 !important;
		a {
			color: $neutral-2 !important;
			&:hover {
				color: $neutral-1 !important;
			}
		}
	}

	.respect-line {
		white-space: pre-line;
	}

	.search-grid {
		> a {
			background-color: $neutral-3-2 !important;
			&:hover {
				color: $neutral-2-2 !important;
			}
		}
	}

	.news-box,
	.landing-box,
	.info-box {
		.news-item {
			h2 {
				color: $neutral-3-2 !important;
			}
			&:hover {
				background-color: $neutral-2 !important;
			}
		}
	}

	header {
		.navbar-toggler-icon {
			filter: invert(40%) sepia(1%) saturate(1196%) hue-rotate(319deg)
				brightness(96%) contrast(79%) !important;
		}
		.nav-link {
			color: $neutral-2-2 !important;
			&:hover {
				color: $neutral-3-2 !important;
			}
		}
		form.input-group {
			input,
			button {
				border-color: $neutral-2-2 !important;
				background-color: $neutral-1 !important;
			}
		}
	}

	.breadCrumbs {
		background-color: $neutral-1 !important;
		a {
			color: $neutral-2-2 !important;
			&:hover,
			&:focus {
				color: $neutral-3-2 !important;
			}
		}
	}

	.tabLink {
		color: $neutral-2-2 !important;
		border-color: $neutral-2-2 !important;
		&.active {
			background-color: $neutral-3 !important;
		}
	}
	.Projekt_cardImg__oPvaE {
		border-color: $neutral-2-2 !important;
	}
	.read-more {
		border-color: $neutral-2-2 !important;
		color: $neutral-2-2 !important;
		&:hover {
			background-color: $neutral-2-2 !important;
			color: $neutral-1 !important;
		}
	}
	.Projekt_insideHero__4vBsw h2 {
		color: $neutral-1 !important;
	}
	.Projekt_columnsImg__Y_LuR {
		border-color: $neutral-2-2 !important;
	}

	.notFoundPage {
		h1,
		h2 {
			color: $neutral-3-2;
		}
	}
}

// .tabs.activebox:after {

// 	background-color: $neutral-2-2 !important;

//   }

// .cardContainer {

// 	background-color: $neutral-3;
//   }
