@import "variables_colors";
@import "variables_typografi";
@import "../node_modules/bootstrap/scss/bootstrap";

[data-theme="dark"] {
	footer {
		background-color: $neutral-2-2;
		color: $neutral-2;
		a {
			color: $neutral-2;
			&:hover {
				color: $neutral-1;
			}
		}
	}

	.carousel-item {
		.carousel-caption {
			.bannerCaptionBox {
				background-color: $neutral-3-2;
			}
		}
	}

	.respect-line {
		white-space: pre-line;
	}

	.search-grid {
		> a {
			background-color: $neutral-3-2;
			&:hover {
				color: $neutral-2-2;
			}
		}
	}

	.news-box,
	.landing-box,
	.info-box {
		.news-item {
			h2 {
				color: $neutral-3-2;
			}
			&:hover {
				background-color: $neutral-2;
			}
		}
	}

	header {
		background-color: $neutral-1;
		.nav-link {
			color: $neutral-2-2;
			&:hover {
				color: $neutral-3-2;
			}
		}
		form.input-group {
			input,
			button {
				border-color: $neutral-2-2;
				background-color: $neutral-1;
			}
		}
	}

	.breadCrumbs {
		background-color: $neutral-1;
		a {
			color: $neutral-2-2;
			&:hover,
			&:focus {
				color: $neutral-3-2;
			}
		}
	}

	.tabLink {
		color: $neutral-2-2 !important;
		border-color: $neutral-2-2 !important;
		&.active {
			background-color: $neutral-3 !important;
		}
	}
	.Projekt_cardImg__oPvaE {
		border-color: $neutral-2-2 !important;
	}
	.read-more {
		border-color: $neutral-2-2 !important;
		color: $neutral-2-2 !important;
		&:hover {
			background-color: $neutral-2-2 !important;
			color: $neutral-1 !important;
		}
	}
	.Projekt_insideHero__4vBsw h2 {
		color: $neutral-1;
	}
	.Projekt_columnsImg__Y_LuR {
		border-color: $neutral-2-2;
	}
}
