@import "variables_colors";

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

img.logo {
	width: 130px;
}

input#flexSwitchCheckDefault {
	cursor: pointer;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: black;
	}
}

svg.svg-inline--fa.fa-chevron-right {
	height: 0.9em;
}

div#breadCrumbs {
	display: flex;
	align-content: center;
	align-items: center;
}

div#breadCrumbs a {
	display: flex;
	align-items: center;
	align-content: center;
}

.breadcrumb-arrow {
	padding: 0 5px !important;
}

.arrow {
	filter: invert(84%) sepia(9%) saturate(1100%) hue-rotate(165deg)
		brightness(88%) contrast(83%);
	position: absolute;
	right: 5rem;
	margin-top: 9%;
}

/* tabs */
// .tabsContainer {
//   width: 100%;
// }

.tabsContainer {
	display: flex;
	padding-left: 0;
	flex-direction: row;
}

.tabLink {
	margin: 0 auto;
	padding: 5px 10px;
	cursor: pointer;
	font-weight: bold;
	font-size: 1rem;
	line-height: 1.75rem;
}

.tabLink {
	color: #c5252f;
}

@media (min-width: 576px) {
	img.logo {
		width: 160px;
	}

	.tabsContainer {
		display: flex;
		flex-wrap: wrap;
		padding-left: 0;
		margin-bottom: 0;
		list-style: none;
		width: 85%;
		margin: 0 auto;
		flex-direction: row;
	}
}

/* NEWS SECTION */
.newsHeader {
	color: #c5252f;
	background-color: #fff;
	padding: 15px;
	border: 2px solid #c5252f;
	padding: 15px !important;
	width: 30% !important;
}

.tabLink.activebox.text-uppercase {
	color: #eb052f;
}

.tabsContainer {
	margin-top: 60px;
	margin-bottom: 60px;
}
.row {
	--bs-gutter-x: 0 !important;
	justify-content: space-between;
}

.col-4 {
	width: 30% !important;
}

.col-4 h4 {
	margin: 0;
}

.col-4 a {
	color: #c5252f !important;
}

.col-4.newsHeader.active:after {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 17px 14px 0 14px;
	border-color: #c5252f transparent transparent transparent;
	position: absolute;
	margin-top: 17px;
	margin-left: -3px;
}

.col-4.newsHeader.active {
	color: #fff !important;
}

.content-column {
	margin-top: 30px !important;
}

h2 {
	overflow-wrap: break-word;
}

@media (max-width: 576px) {
	.tabsContainer {
		display: flex;
		padding-left: 0;
		flex-direction: column;
	}
}

.navbar-toggler-icon {
	filter: invert(16%) sepia(99%) saturate(3210%) hue-rotate(346deg)
		brightness(89%) contrast(86%);

	width: 2em;
	height: 2em;
}

@media (max-width: 992px) {
	.py-0 {
		padding-top: 0 !important;
		position: absolute !important;
		top: 0.5% !important;
		padding-bottom: 0 !important;
		right: 0% !important;
		width: 100% !important;
		transition: all 0.5s ease-in-out !important;
	}

	.navbar-nav {
		margin-top: 60px !important;
		padding-right: 16px !important;
	}

	div#basic-navbar-nav {
		background: #fff;
		width: 100% !important;
		height: 300px !important;
		margin-top: -45px !important;
		transition: all 0.5s ease-in-out !important;
		animation: 1s slideDown !important;
	}
}

.navbar-nav {
	animation: 1s slideDown !important;
}

@keyframes slideDown {
	0% {
		height: 0px;
	}
	100% {
		height: 300px;
	}
}

hr {
	color: #c5252f !important;
	opacity: 1 !important;
}

@media (min-width: 1400px) {
	.container {
		max-width: 1200px !important;
	}
}

.bi-brightness-high-fill,
.bi-brightness-high {
	color: black !important;
}
