html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img.logo {
  width: 150px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.arrow {
  filter: invert(84%) sepia(9%) saturate(1100%) hue-rotate(165deg)
    brightness(88%) contrast(83%);
  position: absolute;
  right: 5rem;
  margin-top: 1%;
}

/* tabs */
.tabsContainer {
  width: 100%;
}

.tabsContainer {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  width: 76%;
  margin: 0 auto;
  flex-direction: row;
}

.tabLink {
  width: 18%;
  display: flex;
  align-items: center;
  margin: 60px 7.5px;
  padding: 10px;
  text-align: center;
  border: 2px solid #c5252f;
}

.tabLink {
  color: #c5252f;
}
@media (max-width: 1100px) {
  .tabLink {
    width: 46%;
    justify-content: center;
    margin: 10px 7.5px 0;
    padding: 10px;
  }
}

@media (max-width: 500px) {
  .tabLink {
    width: 100%;
    justify-content: center;
    margin: 10px 7.5px 0;
    padding: 10px;
    font-size: 0.9rem;
  }
  .tabsContainer {
    width: 90%;
    margin: 30px auto;
  }
}

@media (min-width: 576px) {
  .tabsContainer {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    width: 80%;
    margin: 0 auto;
    flex-direction: row;
  }
}

/* NEWS SECTION */
.newsHeader {
  color: #c5252f;
  background-color: #fff;
  padding: 15px;
  border: 2px solid #c5252f;
  padding: 15px !important;
  width: 30% !important;
}

.row {
  --bs-gutter-x: 0 !important;
  justify-content: space-between;
}

.col-4 {
  width: 30% !important;
}

.col-4 h4 {
  margin: 0;
}

.col-4 a {
  color: #c5252f !important;
}
.active {
  color: #fff !important;
  background-color: #c5252f;
}

.col-4.newsHeader.active:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 17px 14px 0 14px;
  border-color: #c5252f transparent transparent transparent;
  position: absolute;
  margin-top: 17px;
  margin-left: -3px;
}

.col-4.newsHeader.active {
  color: #fff !important;
}

.content-column {
  margin-top: 30px !important;
}

h2 {
  overflow-wrap: break-word;
}
