@import "variables_colors";
@import "variables_typografi";
@import "../node_modules/bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  font-family: $main-font !important;
}

body > * {
  background-color: $neutral-1 !important;
}

a {
  color: $red-1 !important;
  &:focus,
  &:hover,
  &:active,
  &:target {
    color: $fire-red !important;
  }
  p,
  small {
    color: $neutral-3-2 !important;
  }
}

footer {
  background-color: $red-1 !important;
  color: $neutral-2 !important;
  a {
    color: $neutral-2 !important;
    text-decoration: none;
    &:hover {
      color: $neutral-2-2 !important;
    }
  }
}

.carousel-item {
  img {
    height: 700px;
    object-fit: cover;
    background: #000; /* fallback for old browsers */
    background: linear-gradient(rgba(0, 0, 0, 1.8), rgba(0, 0, 0, 0.8));
  }
  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.65);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 6px solid #c5252f;
  }
  .carousel-caption {
    bottom: 46%;
    left: 0;
    .bannerCaptionBox {
      text-transform: uppercase;
      animation: fadeIn 5s;

      * {
        line-height: 1rem;
        margin-bottom: 0;
        padding-bottom: 0;
        font-size: 50px !important;
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.respect-line {
  white-space: pre-line;
}

.search-grid {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 1fr;
  margin-bottom: 3rem;
  > a {
    transition: 0.1s;
    margin: 0.5rem;
    padding: 1rem;
    background-color: $fire-red;
    color: white !important;
    text-decoration: none;
    p {
      color: white !important;
    }
    &:hover {
      background-color: $red-1 !important;
    }
  }
  @media only screen and (max-width: 800px) {
    grid-template-columns: 2fr;
  }
}

.container.h-100 {
  min-height: 100vh;
}

.footerbox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.kalenderGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
}

.footerbox-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 0.9em;
}

.news-box,
.landing-box,
.info-box {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-auto-rows: 1fr;
  grid-gap: 1rem;
  img {
    display: none;
  }
  .news-item {
    display: flex;
    flex-direction: column;
    grid-row: span 1;
    text-decoration: none !important;
    color: black;
    padding: 0.25rem;
    h2 {
      font-size: 1rem;
      color: $fire-red;
    }
    p {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3; /* number of lines to show */
    }
    &:hover {
      background-color: $red-3;
    }
  }
  .box-1 {
    grid-column: span 2;
    grid-row: span 2;
    img {
      display: flex;
      width: 100%;
    }
  }
  .box-2 {
    grid-column: span 2;
  }
}

.landing-box.box-1 {
  img {
    display: none;
  }
}

.kalender-main {
  table {
    @extend .table, .table-borderless;
    tr:first-child {
      @extend th;
    }
  }
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* so they do not overlap each other if space too short */
  background-color: transparent;
  > div,
  > nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* so they do not overlap each other if space too short */
    flex: 2; /* 2 is minimum but plenty enough here  */
  }
  .nav-link {
    font-weight: bold;
    color: $red-1;
    text-transform: uppercase;
    &:hover {
      color: $fire-red;
    }
  }
  form.input-group {
    input {
      border-right: none;
    }
    button {
      border-left: none;
    }
    input,
    button {
      border-color: $red-1;
      background-color: $neutral-1;
      border-width: 2px;
    }
  }
}

.breadCrumbs {
  background-color: $neutral-1;
  a {
    text-decoration: none;
    color: $red-1;
    text-transform: capitalize;
    &:hover,
    &:focus {
      color: $fire-red;
    }
    span {
      font-weight: bold;
    }
  }
}

.indhold-sider {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.new-table {
  table {
    @extend .table;
  }
}

.notFoundPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h1,
  h2 {
    color: $fire-red;
  }
}

/* naked header */
.flex-column {
  z-index: 10;
}

.carousel {
  margin-top: -110px;
}

.pt-2 {
  height: 110px;
}

.arrowdiv {
  position: absolute;
  bottom: 5%;
  right: 50%;
  z-index: 13;
  background: $red-1;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  animation: leaves 1s ease-in-out infinite alternate;
  -webkit-animation: leaves 1s ease-in-out infinite alternate;
}

.arrowdiv .carousel-control-next-icon {
  transform: rotate(90deg);
}

.arrowdiv a {
  display: flex;
}

@keyframes leaves {
  0% {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

@media (max-width: 500px) {
  .carousel-item {
    img {
      height: 500px;
    }
  }
}
